* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

#grid_wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 340px 90px 900px 160px;
    grid-template-areas: "he" "na" "se" "fo";
    gap: 3px;
}

#pil {
    display: none;
}

#burger {
    display: none;
}

body {
    background-color: black;
}

header {
    grid-area: he;
    background: url(/img/garn.jpg);
    background-size: cover;
    display: grid;
    place-items: center;
}

nav {
    grid-area: na;
    background-color: rgb(178, 250, 117);
}

section {
    grid-area: se;
    background-color: white;
}

footer {
    grid-area: fo;
    display: flex;
    background-color: rgb(178, 250, 117);
    justify-content: center;
}


/* grund, meny & meny2 */

.meny {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    list-style: none;
}

.meny_lankar {
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}

.meny_lankar:hover {
    font-size: 42px;
    color: rgb(153, 152, 152);
}

#huvud_bild {
    height: 340px;
}

footer .meny {
    display: flex;
    justify-content: space-around;
    width: 60%;
    align-items: center;
    list-style: none;
    margin-left: 70px;
}

#kontaktuppgifter {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
}

.footer_lankar {
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 26px;
}

.footer_lankar:hover {
    font-size: 28px;
    color: rgb(153, 152, 152);
}

.kontakt_titlar {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: rgb(49, 49, 49);
}

.nummer {
    font-size: 20px;
    font-style: italic;
}

footer {
    display: flex;
    align-items: center;
}

#zoom {
    text-align: center;
    transform-origin: center top;
}


/* index, butik */

.hund {
    height: 340px;
    width: 320px;
}

#produkter {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-content: space-around;
}

.produkt_info_ruta {
    display: none;
    position: absolute;
    bottom: 4px;
    height: 40%;
    width: 100%;
    background-color: rgb(244, 250, 117);
}

.hund:hover+.produkt_info_ruta {
    display: block;
}

.produkt_info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.verk {
    position: relative;
    margin-block: 50px;
}

/* om oss */

.om_bild {
    height: 350px;
    width: 500px;
}

#om_sidan {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.om_text {
    height: 350px;
    width: 500px;
}


/* kundservice, något */

#zoom_vaska {
    height: 800px;
    width: 550px;
}

#hjalpsida {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
}

.guide {
    width: 500px;
}

#info_rutor {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
}

/* varukorg */


/* allt */

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}

@media screen and (max-width: 800px) {
    
    #grid_wrapper {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 200px 90px auto 180px;
        grid-template-areas: "he" "na" "se" "fo";
        gap: 3px;
    }

    footer .meny {
        display: none;
    }

    .produkt_info_ruta {
        display: none;
    }

    .produkt_info_ruta_visa {
        position: absolute;
        bottom: 4px;
        height: 40%;
        width: 100%;
        background-color: navajowhite;
    }

    .om_text {
        width: 310px;
        height: auto;
    }

    .om_bild {
        height: 217px;
        width: 310px;
    }

    #om_sidan {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: 
        "om1" 
        "om2" 
        "om4" 
        "om3";

        place-items: center;
    }

    .om_text {
        grid-area: om1;
        margin-block: 50px;
    }

    .om_bild {
        grid-area: om2;
        margin-block: 20px;
    }

    #om_1 {
        grid-area: om1;
    }

    #om_2 {
        grid-area: om2;
    }

    #om_3 {
        grid-area: om3;
    }

    #om_4 {
        grid-area: om4;
    }

    .verk {
        margin-block: 50px;
    }

    .guide {
        width: 310px;
    }
   
    #zoom_vaska {
        display: none;
    }

    #info_rutor{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .guide {
        width: 310px;
        margin-top: 50px;

    }

    #myBtn {
        position: fixed;
        bottom: -45px;
        right: -20px;
        cursor: pointer;
        background: transparent;
        border: 0; 
        z-index: 1;
    }

    #pil {
        height: 200px;
        display: block;
    }

    #myBtn:hover {
        filter: brightness(110%);
    }

    .meny {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 400px;
        align-items: center;
        background-color: aqua;
        position: absolute;
        right: 0;
        top: -500px;
        width: 250px;
        list-style: none;
        transition: all 0, 5;
        z-index: 1;
    }

    .meny_active {
        transform: translateY(793px);
    }


    .burger_line {
        width: 25px;
        height: 3px;
        background-color: rgb(223, 144, 70);
        margin: 5px;
        border-radius: 10%;
        transition: all 0.5s;
    }

    .crossed_line #line_2 {
        opacity: 0;
    }

    .crossed_line #line_1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .crossed_line #line_3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    #burger {
        display: block;
        margin-right: 87.5px;
        cursor: pointer;
    }
}