@import url('https://fonts.googleapis.com/css2?family=BIZ+UDMincho&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Grid och grund */

#grid_wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 340px 90px auto 160px;
    grid-template-areas: "he" "na" "se" "fo";
    gap: 3px;
}

body {
    background-color: black;
}

header {
    grid-area: he;
    background: url(/img/garn.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    grid-area: na;
    background-color: white;
}

section {
    grid-area: se;
    background-color: white;
}

footer {
    grid-area: fo;
    display: flex;
    background-color: white;    
    justify-content: center;
}

#logga {
    height: 400px;
}

#pil {
    display: none;
}

#burger {
    display: none;
}



/* Meny */

.meny {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    list-style: none;
}

.meny_lankar {
    text-decoration: none;
    color: black;
    font-family: 'BIZ UDMincho', serif;
    font-size: 40px;
}

.meny_lankar:hover {
    font-size: 42px;
    color: rgb(153, 152, 152);
}



/* Meny2 */

footer .meny {
    display: flex;
    justify-content: space-around;
    width: 60%;
    align-items: center;
    list-style: none;
    margin-left: 70px;
}

#kontaktuppgifter {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
}

.footer_lankar {
    text-decoration: none;
    color: black;
    font-family: 'BIZ UDMincho', serif;
    font-size: 26px;
}

.footer_lankar:hover {
    font-size: 28px;
    color: rgb(153, 152, 152);
}

.kontakt_titlar {
    font-family: 'BIZ UDMincho', serif;
    font-size: 15px;
    color: rgb(49, 49, 49);
}

.nummer {
    font-size: 20px;
    font-style: italic;
}

footer {
    display: flex;
    align-items: center;
}



/* Butik */

.produkt {
    height: 340px;
    width: 320px;
}

#produkter {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-content: space-around;
    min-width: 100vw;
}

.produkt_info_ruta {
    display: none;
    position: absolute;
    bottom: 4px;
    height: 40%;
    width: 100%;
    background-color: rgb(197, 198, 202);
}

.produkt:hover + .produkt_info_ruta {
    display: block;
}

.produkt_info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.verk {
    position: relative;
    margin: 50px;
}

.info_text {
    font-family: 'BIZ UDMincho', serif;
}



/* Om oss */

.om_bild {
    height: 350px;
    width: 500px;
    margin: 20px;
}

#om_sidan {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.om_text {
    height: 350px;
    width: 500px;
    margin: 20px;
}



/* Kundservice */

#zoom_vaska {
    height: 784px;
    width: 547px;
}

#hjalpsida {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.guide {
    width: 480px;
}

#info_rutor {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
    margin-top: -200px;
    margin-bottom: -200px;
}



/* Varukorg */

.produkt_varukorg {
    height: 340px;
    width: 320px;
    margin: 30px;
    margin-top: -20px;
}

.produkt_info_ruta_varukorg {
    position: absolute;
    top: -37px;
    left: 330px;
    width: 100px;
    background-color: rgb(197, 198, 202);
    border: 20px;
    border-style: solid;
    border-color: rgb(197, 198, 202);
}

#produkter_varukorg {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    align-content: space-between;
}

#varukorg_titel {
    font-size: 2rem;
    margin: 30px;    
}



/* Allt */

h2 {
    font-family: 'BIZ UDMincho', serif;
    font-weight: lighter;
    font-size: 2rem;
}



@media screen and (max-width: 800px) {
    

    /* Grid och grund */

    #grid_wrapper {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 200px 90px auto 180px;
        grid-template-areas: "he" "na" "se" "fo";
        gap: 3px;
    }

    nav {
        display: grid;
        place-items: center;
    }

    #logga {
        height: 260px;
    }

    #myBtn {
        position: fixed;
        bottom: -45px;
        right: -20px;
        cursor: pointer;
        background: transparent;
        border: 0; 
        z-index: 1;
    }

    #myBtn:hover {
        filter: brightness(110%);
    }

    #pil {
        height: 200px;
        display: block;
    }



    /* Meny */

    .meny {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 400px;
        align-items: center;
        background-color: white;
        position: absolute;
        right: 0;
        top: -500px;
        width: 250px;
        list-style: none;
        z-index: 1;
        border: 3px;
        border-style: solid;
        border-color: black;
    }

    .meny_active {
        transform: translateY(793.5px);
    }

    .burger_line {
        width: 25px;
        height: 3px;
        background-color: rgb(127, 128, 129);
        margin: 5px;
        border-radius: 10%;
        transition: all 0.5s;
    }

    .crossed_line #line_2 {
        opacity: 0;
    }

    .crossed_line #line_1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .crossed_line #line_3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    #burger {
        display: block;
        margin-left: 76%;
        cursor: pointer;
    }

    /* Meny2 */

    footer .meny {
        display: none;
    }

    /* Butik */
    
    .verk {
        margin: 100px;
        cursor: default;
    }
    
    .produkt_info_ruta {
        display: block;
        position: relative;
    }

    #sista_produkt {
        margin-bottom: 200px;
    }

    

    /* Om oss */

    .om_text {
        width: 310px;
        height: auto;
    }

    .om_bild {
        height: 217px;
        width: 310px;
    }

    #om_sidan {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: 
        "om1" 
        "om2" 
        "om4" 
        "om3";

        place-items: center;
    }

    #om_1 {
        grid-area: om1;
        margin: 50px;
    }

    #om_2 {
        grid-area: om2;
    }

    #om_3 {
        grid-area: om3;
        margin-bottom: 50px;
    }

    #om_4 {
        grid-area: om4;
        margin: 50px;
    }
   
    /* Kundservice*/

    #zoom_vaska {
        display: none;
    }

    #info_rutor{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 0;
        margin-bottom: 0;
    }

    .guide {
        width: 310px;
        margin-top: 50px;
    }

    #retur_ruta {
        margin-bottom: 50px;
    }



    /* Varukorg */

    .produkt_varukorg {
        margin: -60px;
        margin-bottom: 120px;
        height: 278px;
        width: auto;
    }

    .produkt_info_ruta_varukorg {
        position: absolute;
        left: -52px;
        top: 185px;
        height: 200px;
        width: 280px;
        background-color: rgb(197, 198, 202);
        border: 20px;
        border-style: solid;
        border-color: rgb(197, 198, 202);
    }
}